.setting {
  margin: 0 32px;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.headText {
  display: inline;
  color: var(--Gray-8);
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.settingBox {
  display: flex;
  align-items: center;
  height: 96px;
  margin-bottom: 32px;
  padding: 0 32px;
  border-radius: 16px;
  background-color: var(--BG);
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 96px;
}

.name {
  color: var(--Gray-8);
  line-height: 32px;
  font-weight: 500;
}

.skin {
  display: flex;
  align-items: center;
  height: 96px;
}

.skinList {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 0.8rem;
  color: #fff;
  border-radius: 100%;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2) inset;
  transition: 0.1s ease-in-out;
}

.skinList:nth-of-type(1) {
  background-image: linear-gradient(to bottom right, #3b82f6, #2563eb);
  box-shadow: 0 0 16px 0 rgba(30, 58, 138, 0.4) inset;
  box-shadow: 0 0 0 0 #bfdbfe;
}
.skinList:nth-of-type(2) {
  background-image: linear-gradient(to bottom right, #10b981, #059669);
  box-shadow: 0 0 16px 0 rgba(6, 78, 59, 0.4) inset;
  box-shadow: 0 0 0 0 #a7f3d0;
}
.skinList:nth-of-type(3) {
  background-image: linear-gradient(to bottom right, #f43f5e, #e11d48);
  box-shadow: 0 0 16px 0 rgba(136, 19, 55, 0.4) inset;
  box-shadow: 0 0 0 0 #fecdd3;
}
.skinList:nth-of-type(4) {
  background-image: linear-gradient(to bottom right, #f97316, #ea580c);
  box-shadow: 0 0 16px 0 rgba(124, 45, 18, 0.4) inset;
  box-shadow: 0 0 0 0 #fed7aa;
}

.skinList:hover {
  width: 3rem;
  height: 3rem;
}
.skinList:nth-of-type(1):hover {
  box-shadow: 0 0 24px 0 #bfdbfe;
}
.skinList:nth-of-type(2):hover {
  box-shadow: 0 0 24px 0 #a7f3d0;
}
.skinList:nth-of-type(3):hover {
  box-shadow: 0 0 24px 0 #fecdd3;
}
.skinList:nth-of-type(4):hover {
  box-shadow: 0 0 24px 0 #fed7aa;
}

.skinInfo {
  position: absolute;
  left: 0;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.7rem;
  cursor: default;
}
.blue {
  color: #1d4ed8;
}
.emerald {
  color: #047857;
}
.red {
  color: #be123c;
}
.orange {
  color: #c2410c;
}

.svgCheck {
  z-index: 10;
  fill: var(--BG);
}
